.mainWindowContainer{
    background-image: url("restauracja.png");
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
}

.formBody{
    background-color: whitesmoke;
    border: 2px solid black;
    border-radius: 20px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

#tlo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: mediumseagreen;
    width: 350px;
    height: 650px;
    border: 2px solid black;
    border-radius: 50px;
    padding: 30px;
    margin: 50px;

}


h1{
    text-align: center;
    color: black;
}
.form{
    background-color: darkseagreen;
    color: black;
    border: 2px solid black;
    border-radius: 20px;
    width: 200px;
    text-align: center;
}
.wynik{
    font-size: medium;
    margin: 10px;
}
#klikacz{
    background-color: darkseagreen;
    border: 2px solid black;
    border-radius: 20px;
}
#godziny{
    padding-top: 5px;
}
#suwak{
    padding: 5px;
    width: 190px;
}


